<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
  <script src=https://unpkg.com/vue@3></script>
  <script src="app.js" defer></script>
  <title>Boolzap</title>
</head>
<body>
  
<!-- Sections necessarie per mettere i colori di background -->
<header></header>
<main></main>


<!-- App container su cui montare tutto -->
<div id="app" class="container">


  <!-- Parte sinistra dell'app -->
<div class="left-content">


  <!-- Barra utente -->
<div class="user-bar">

  <div class="user">

    <div class="round-container">
      <img src="../img/avatar_io.jpg" alt="User Avatar">
    </div>

    <div class="avatar-name">Sofia</div>

  </div>


  <div class="actions">
    <i class="fa-solid fa-circle-notch"></i>
    <i class="fa-solid fa-message"></i>
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>

</div>


<!-- Barra notifications -->
<div class="notifications">

  <div class="round-container">
    <i class="fa-regular fa-bell-slash"></i>
  </div>

  <div class="new-notifications">
    <h6>Ricevi notifiche di nuovi messaggi</h6>
    <span>Attiva notifiche desktop</span>
  </div>

</div>





<!-- Barra ricerca chat -->
<div class="search-bar">

  <div class="label">
    <label for="search-chat">
    <i class="fa-solid fa-magnifying-glass"></i>
  </label>
  </div>

  <div class="input">
    <input type="text" v-model="searchChat" id="search-chat" placeholder="Cerca o inizia una nuova chat">
  </div>
  
</div>



<!-- Lista delle conversazioni -->
<div class="conversations">

<div class="conversation-card"
     v-for="(contact, index) in contacts"
     :class="{'active' : index === activeConversation}"
     @click="activeConversation = index"
     v-show="contact.visible"
>

  <div class="round-container">
    <img :src="'../img/avatar' + contact.avatar + '.jpg'" alt="avatar 1">
  </div>

  <div class="user-info">
    <span class="user-name">{{contact.name}}</span>
    <span>Ultimo messaggio inviato</span>
  </div>

  <div class="msg-hour">
    <span>12:00</span>
  </div>

</div>


</div>

</div>



<!-- Parte destra dell'app -->
<div class="right-content">



  <div class="conversation-container" 
       v-for="(contact, index) in contacts"
       v-show="index === activeConversation"
  >

    <div class="user-bar">

    <div class="user">
  
      <div class="round-container">
        <img src="../img/avatar_io.jpg" alt="User Avatar">
      </div>
  
      <div class="user-info">
        <span class="user-name"></span>
        <span>Ultimo messaggio inviato</span>
      </div>
  
    </div>
  
  
    <div class="actions">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-paperclip"></i>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  
  </div>

  </div>
  
</div>




</div>


</body>
</html>